<!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="/js/home/login.js" defer></script><!--
            app.js=> ${__dirname}/src/public`))
            에서 해준것땜에 이 스크립트경로는 public/js.home.login.js가 되는거임-->
            <title>Document</title>
        </head>
        <body>
            <input id="id" type="text" placeholder="ID"><br>
            <input id="psword" type="text" placeholder="PW"><br>
            <button>login</button>
        </body>
        </html>